body, html {
  text-align: center;
  margin: 0;
  width: 100%;
}

#progress-bar {
  display: flex;
  align-items: center;
  justify-content: center
}

.answer {
  border-bottom: 5px solid grey;
  border-right: 5px solid grey;
  display: inline-block;
  margin: 2em;
  padding: 1em;
  text-align: center;
  text-transform: capitalize;
}

.answer:active {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 4px solid grey;
  border-left: 4px solid grey;
}

.answer:hover {
  cursor: pointer;
}

img {
  width: 100px;
  height: 100px;
}

#body-view{
  height: 20em;
  background-color: pink;
}

#head-view{
  height: 5em;
  background-color: rebeccapurple;
  margin: 0;
}

#question-word{
  width: 15%;
  display: block;
  margin: 0 auto;
}

#question-word:hover {
  cursor: url('../images/speaker.png'), auto;
}

#hint-btn {
  display: block;
  margin: 0 auto;
}

table {
  border: 1px solid black;
  width: 30%;
  background-color: black;
}

th {
  background-color: white;
  border: 1px solid black;
  width: 1fr;
  height: 1em;
  padding: .25em;

}
