.answer {
  border-bottom: 5px solid grey;
  border-right: 5px solid grey;
  display: inline-block;
  margin: 2em;
  padding: 1em;
  text-align: center;
  text-transform: capitalize;
}

.answer:active {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-top: 4px solid grey;
  border-left: 4px solid grey;
}

.answer:hover {
  cursor: pointer;
}

img {
  width: 100px;
  height: 100px;
}

#question-word:hover {
  cursor: url('../images/speaker.png'), auto;
}

table {
  border: 1px solid black;
  width: 30%;
  background-color: black;
}

th {
  background-color: white;
  border: 1px solid black;
  width: 1fr;
  height: 1em;
  padding: .25em;

}
